<div class="sidebar-header text-center py-3 bg-black">
  <span class="brand-text font-weight-light">Admin Dashboard</span>
</div>
<div class="list-group mb-4 bg-dark">
  <a href="{% url 'admin-dashboard' %}" class="list-group-item list-group-item-action bg-dark text-white {% if request.resolver_match.url_name == 'admin-dashboard' %}active bg-primary{% endif %}">
    Overview
  </a>
  <a href="{% url 'dashboard-bookings-analysis' %}" class="list-group-item list-group-item-action bg-dark text-white {% if request.resolver_match.url_name == 'dashboard-bookings-analysis' %}active bg-primary{% endif %}">
    Bookings Analysis
  </a>
  <a href="{% url 'dashboard-revenue-analysis' %}" class="list-group-item list-group-item-action bg-dark text-white {% if request.resolver_match.url_name == 'dashboard-revenue-analysis' %}active bg-primary{% endif %}">
    Revenue Analysis
  </a>
  <a href="{% url 'dashboard-user-insights' %}" class="list-group-item list-group-item-action bg-dark text-white {% if request.resolver_match.url_name == 'dashboard-user-insights' %}active bg-primary{% endif %}">
    User Insights
  </a>
  <a href="{% url 'dashboard-bookings-by-city' %}" class="list-group-item list-group-item-action bg-dark text-white {% if request.resolver_match.url_name == 'dashboard-bookings-by-city' %}active bg-primary{% endif %}">
    Bookings by City
  </a>
</div> 