{% extends "master.html" %}

{% block content %}
<div class="global_container flex items-center justify-center text-center mt-32 relative">
    <div class="card login_form border border-gray-300 w-[40rem] relative top-40 m-4 p-4">
        <div class="card_body m-2 p-2 grid">
            <div class="text-center">
                <h2 class="text-center text-2xl font-semibold">Your password has been changed</h2>
                <div class="panel-body my-8 mx-4 bg-gray-50 p-4 rounded">
                    <a href="{% url 'editprofile' %}" class="text-blue-600 hover:underline">Continue your editing profile.</a><br>
                    <p><a href="/" class="text-blue-600 hover:underline">Go to Home page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 