{% extends "master.html" %}
{% load static %}

{% block content %}
<div class="mt-[10rem] bg-gray-50">

        <div class="mx-auto max-w-screen-xl px-4 pb-6 sm:px-6 lg:px-8 lg:pb-16 ">
            <div class="overflow-hidden rounded-lg bg-white shadow-md border-[1px] border-solid border-red-500">
                <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
                    <aside class="py-6 lg:col-span-3">
                        <nav class="space-y-1">
                            <a href="{% url 'myprofile' %}"
                                class="bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700 group border-l-4 px-3 py-4 flex items-center text-lg font-medium"
                                x-state:on="Current" x-state:off="Default" aria-current="page"
                                x-state-description="Current: &quot;bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700&quot;, Default: &quot;border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900&quot;">
                                <svg class="text-teal-500 group-hover:text-teal-500 flex-shrink-0 -ml-1 mr-3 h-8 w-8"
                                x-state:on="Current" x-state:off="Default"
                                x-state-description="Current: &quot;text-teal-500 group-hover:text-teal-500&quot;, Default: &quot;text-gray-400 group-hover:text-gray-500&quot;"
                                x-description="Heroicon name: outline/user-circle" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z">
                                </path>
                                </svg>
                                <span class="truncate">Profile</span>
                            </a>
                            <a href="{% url 'change_password' %}"
                                class="border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-4 flex items-center text-lg font-medium"
                                x-state-description="undefined: &quot;bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700&quot;, undefined: &quot;border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900&quot;">
                                <svg class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-8 w-8"
                                x-state-description="undefined: &quot;text-teal-500 group-hover:text-teal-500&quot;, undefined: &quot;text-gray-400 group-hover:text-gray-500&quot;"
                                x-description="Heroicon name: outline/key" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z">
                                </path>
                                </svg>
                                <span class="truncate">Password</span>
                            </a>
                        </nav>
                    </aside>
                    <form action="updprofile" method="post" enctype="multipart/form-data" class="divide-y divide-gray-200 lg:col-span-9">
                        {% csrf_token %}
                        <div class="py-6 px-4 sm:p-6">
                            <div class="my-1 mx-4 flex items-center justify-between">

                                <h2 class="text-2xl font-medium leading-6 text-gray-900">
                                    {{ userdata.emailid }}
                                </h2>
                                <div class="flex  justify-center text-3xl text-red-500 font-semibold underline underline-offset-4 px-6 ">
                                    Edit mode
                                </div>
                                <a href="{% url 'myprofile' %}" class="flex items-center px-4 py-2 gap-2 text-2xl font-medium  text-white bg-blue-500 hover:bg-blue-600 rounded-md shadow-md cursor-pointer" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class=" text-white"
                                    >
                                      <path d="M19 12H5"></path>
                                      <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg>
                                    Back
                                </a>
                            </div>
                            <div class="mt-3 flex flex-col lg:flex-row">
                                <div class="mt-2 flex flex-row flex-grow justify-between lg:mt-0 lg:ml-6">
                                    <div class=" flex flex-col items-center space-y-4">
                                        <!-- Profile Image -->
                                        <div class="h-40 w-40">
                                            {% if userdata.updProfile_photo %}
                                                <img
                                                    id="updProfileimg"
                                                    class="h-full w-full object-cover rounded-full border-1 border-gray-300 shadow-md"
                                                    src="/media/{{ userdata.updProfile_photo }}"
                                                    alt="Profile Image"
                                                />
                                                
                                            {% else %}
                                                <img
                                                    id="updProfileimg"
                                                    class="h-full w-full object-cover rounded-full border-1 border-gray-300 shadow-md"
                                                    src="{% static 'image/profileicons/account.png' %}"
                                                    alt="Default Profile Image"
                                                />
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Upload Profile Image -->
                                        <label for="updProfileimginput" class="flex flex-col items-center space-y-1 text-center cursor-pointer">
                                            {% if userdata.updProfile_photo %}
                                                <span class="text-xl px-4 py-3 font-medium text-white rounded-md bg-blue-500 hover:bg-blue-600 transition">
                                                    Change Profile Image</span>
                                            {% else %}
                                                <span class="text-xl px-4 py-3 font-medium text-white rounded-md bg-blue-500 hover:bg-blue-600 transition">
                                                    Upload Profile Image</span>
                                            {% endif %}

                                            <input
                                                name="updProfileimginput"
                                                id="updProfileimginput"
                                                class="hidden"
                                                type="file"
                                            />    
                                        </label>

                                        <!-- Delete Icon -->
                                        {% if userdata.updProfile_photo %}
                                        <div class="px-3 py-2 text-white text-xl border bg-red-600/80 hover:bg-red-600 rounded-md">
                                            <a
                                                href="deleteprofile/{{ userdata.id }}"
                                                class=" transition flex items-center justify-center gap-3"
                                            >remove profile
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash h-5 w-5">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path d="M19 6l-2 14H7L5 6"></path>
                                                <path d="M10 11v6"></path>
                                                <path d="M14 11v6"></path>
                                                <rect x="9" y="2" width="6" height="4" rx="1" ry="1"></rect>
                                            </svg>                    
                                            
                                                  
                                        </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="my-[4rem] mx-[1rem] grid grid-cols-12 gap-[3.6rem]">
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="first-name" class="block text-[1.2rem] font-semibold text-gray-700/95">First name</label>
                                    <input type="text" name="updfname" placeholder="First Name" value="{{ userdata.fname }}" id="first-name" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="last-name" class="block text-[1.2rem] font-semibold text-gray-700">Last name</label>
                                    <input type="text" name="updlname" placeholder="Last Name" value="{{ userdata.lname }}" id="last-name" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="mobile-no" class="block text-[1.2rem] font-semibold text-gray-700">mobile no</label>
                                    <input type="text" name="updphonenum" value="{% if userdata.phonenum %}{{ userdata.phonenum }}{% endif %}"  placeholder="Phonenum" id="mobile-no" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="aadhaar_number" class="block text-[1.2rem] font-semibold text-gray-700">aadhaar number</label>
                                    <input type="text" name="aadhaar_number"  value="{% if userdata.aadhaar_number %}{{ userdata.aadhaar_number }}{% endif %}" placeholder="Aadhaar Number" id="aadhaar_number" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="date_of_birth" class="block text-[1.2rem] font-semibold text-gray-700">date_of_birth</label>
                                    <input type="date" name="date_of_birth" value="{% if userdata.date_of_birth %}{{ userdata.date_of_birth|date:'Y-m-d' }}{% endif %}" placeholder="Date of Birth" id="date_of_birth" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="driver_license_number" class="block text-[1.2rem] font-semibold text-gray-700">driver license number</label>
                                    <input type="text" name="driver_license_number" value="{% if userdata.driver_license_number %}{{ userdata.driver_license_number }}{% endif %}" placeholder="driver license number" id="driver_license_number" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="driver_license_expiry" class="block text-[1.2rem] font-semibold text-gray-700">driver_license_expiry</label>
                                    <input type="date" name="driver_license_expiry" value="{% if userdata.driver_license_expiry %}{{ userdata.driver_license_expiry|date:'Y-m-d' }}{% endif %}" placeholder="driver license expiry" id="driver_license_expiry" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="address_line1" class="block text-[1.2rem] font-semibold text-gray-700">Address Line 1</label>
                                    <input type="text" name="address_line1" value="{% if userdata.address_line1 %}{{ userdata.address_line1 }}{% endif %}" placeholder="Addess line1" id="address_line1" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="address_line2" class="block text-[1.2rem] font-semibold text-gray-700">Address Line 2</label>
                                    <input type="text" name="address_line2" value="{% if userdata.address_line2 %}{{ userdata.address_line2 }}{% endif %}" placeholder="Address line2" id="address_line2" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="city" class="block text-[1.2rem] font-semibold text-gray-700">City</label>
                                    <input type="text" name="city" value="{% if userdata.city %}{{ userdata.city }}{% endif %}" placeholder="City" id="city" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="state" class="block text-[1.2rem] font-semibold text-gray-700">State</label>
                                    <input type="text" name="state" value="{% if userdata.state %}{{ userdata.state }}{% endif %}" placeholder="State" id="state" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="zip_code" class="block text-[1.2rem] font-semibold text-gray-700">Zip code</label>
                                    <input type="text" name="zip_code" value="{% if userdata.zip_code %}{{ userdata.zip_code }}{% endif %}" placeholder="Zip code" id="zip_code" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                                <div class="col-span-12 sm:col-span-6">
                                    <label for="country" class="block text-[1.2rem] font-semibold text-gray-700">Country</label>
                                    <input type="text" name="country" value="{% if userdata.country %}{{ userdata.country }}{% endif %}" placeholder="Country" id="country" class="mt-1 block w-full rounded-md border border-gray-300 normal-case py-3 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 lg:text-[1.3rem] sm:text-sm" />
                                </div>
                            </div>
                        </div>


                        <div class="mt-4 flex justify-end py-4 px-4 sm:px-6 text-2xl ">
                            <a href="{% url 'myprofile' %}" class="inline-flex justify-center rounded-md border border-gray-300 bg-white py-2 px-4 font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2">
                                Cancel</a>
                            <button type="submit" class="ml-5 inline-flex justify-center rounded-md border border-transparent bg-blue-500 hover:bg-blue-600 py-2 px-4 font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %} 