@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.box{
    align-items: center;
}
.checkout{
    margin: auto;
    margin-top: 3%;
    padding: 5%;
    text-align: center;
    box-shadow: var(--light-color);

}
.container{
    text-align: center;
    margin-top: 5%;
    overflow: visible;
    width: 50%;
    padding-right: 20px;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
section{
    /* padding: 108px 10px; */
    /* padding:2rem 9%; */
}
.heading{
    /* padding-bottom: 1rem; */
    text-align: center;
    font-size: 4.5rem;
    color:var(--black);
}
.heading span{
    position: relative;
    z-index: 0;
}

.busscontainer{

    margin: 2rem 0;
    padding: 2rem 5rem;
    position: relative;

    top: 8rem;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #f2f3f3f7;



}

.bussprofiles{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #12fcfcf7;

}

.main_profile_img_row{
    /* margin: 1rem 5rem; */
    padding: .2rem .2rem;
    position: relative;
    


    border-radius: 10px;
    border: 1px solid black;
    background-color: #fcf412f7;

}

.main_profile_img_row .main_bussprofile_head .bussprofile_head{
    margin: 1rem 5rem;
    padding: 2rem 5rem;
    background-color: rgb(255, 255, 255);
    position: relative;

    /* width: 120rem; */
    top: 0px;
    

}

.main_profile_img_row .main_profile_img{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 100px;
}
.main_bussprofile_head .bussprofile_head h5 {
    color: #333;
    font-size: 19px;
}
.main_bussprofile_head .bussprofile_head h6 {
    font-size: 15px;
    color: #0062cc;
}
.main_bussprofile_head .bussprofile_head {
    font-size: 15px;
    color: #494949;
    margin: 30px 0px 24px 0px;
}

.main_bussprofile_head .bussprofile_head h5 {
    color: #333;
    font-size: 19px;
}
.main_bussprofile_head .bussprofile_head h6 {
    font-size: 15px;
    color: #0062cc;
  }
  .main_bussprofile_head .bussprofile_head .profile-rating {
    font-size: 15px;
    color: #494949;
    margin: 30px 0px 24px 0px;
}
.main_bussprofile_head .bussprofile_head .nav-tabs {
    display: flex;
    position: relative;
    /* margin-bottom: 5%; */
    margin: 0px 10px 0px 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.373);
    /* background-color: palevioletred; */
}

.main_bussprofile_head .bussprofile_head .nav-tabs .nav-item {
    text-decoration: none;
    list-style-type: none;
}

.main_bussprofile_head .bussprofile_head .nav-tabs .nav-link {
    font-weight: 500;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    /* text-decoration: none;
    list-style-type: none; */
    border: none;
}

.main_bussprofile_head .bussprofile_head .nav-tabs .nav-link.active {
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 0px 10px 1px 10px;
    border-bottom: 2px solid #0a6ad1e7;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.bussprofiles .main_profile_img_row .editprofile a{
    margin: 10px 10px;
    padding: 4px 0px;
    top: 20px;
    left: 75vw;
    height: 40px;
    width: 18rem;
    display: block;
    position: absolute;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(0, 128, 255, 0.828);
    color: black;
    cursor: pointer;

}

.main_bussprofile_info_row{
    margin: .2rem 10rem;
    padding: .2rem .2rem;
    background-color: pink;


}
.main_bussprofile_info_row .buss_user_info{
    margin: .2rem .5rem;
}