<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add your new vehicles here.</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/buss_accounts.css' %}">
    <link rel="stylesheet" href=" {% static 'css/popup_messages.css' %} ">
             
</head>
<body>


    {% if messages %}
            <section class="popup_message">
                 {% comment %} <button class="show-modal">Show Modal</button>
                <span class="overlay"></span> {% endcomment %}
                 {% for message in messages %}
                 
                    <div class="modal_box">
                        <i class="fa-regular fa-circle-check"></i>
                        <h3 style = "">
                            {{ message }}</h3>
                        <div class="buttons">
                            <button class="close_btn">Ok, Close</button>
                        </div>
                    </div>
                {% endfor %}            
          </section>
          {% endif %}
          <style>
            .popup_message .modal_box h3{
                font-size: 1.2rem;
                font-weight: 500;
                color: #000;
                text-align: center;
                {% comment %} background: #dfeeecbc;; {% endcomment %}
                border-radius: 10px;
                {% comment %} box-shadow: 2px 2px 3px #7e7d7da9; {% endcomment %}
                padding:0px 10px 5px 10px;
                margin: 0;                                
                /* border: 1px solid #56565666; */
            }

          </style>


    <section class="container_add_new forms">
        <div class="form_add_new">
            <div class="form-content_add_new">
                <header>Add your new vehicles here.</header>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {% comment %} <div class="field input-field">
                        <input type="text" placeholder="buss_vehicle_owner" class="input" name="buss_vehicle_owner" required>
                    </div> {% endcomment %}
                    <div class="field_add_new input-field">
                        {% comment %} <p>Enter your name :</p> {% endcomment %}
                        {% comment %} <label for="vehicle_company">Select Vehicle Company:</label> {% endcomment %}
                        <select name="buss_vehicle_company_name" id="vehicle_type" class="" required>
                            <option value="" disabled selected hidden>Select Vehicle Company</option>
                            {% for choice in v_choice_data.vehicle_company %}
                            {% comment %} {% if choice.0 != 'Company Name' %} {% endcomment %}
                            <option value="{{ choice.0 }}" >{{ choice.1 }}</option>
                            {% comment %} {% endif %} {% endcomment %}
                            {% endfor %}
                        </select>   
                        <input type="text" placeholder="Model name" class="input" name="buss_vehicle_model_name" required>
                    </div>
                    <div class="field_add_new input-field">
                        {% comment %} <p>Enter your name :</p> {% endcomment %}
                        {% comment %} <input type="text" placeholder="buss_vehicle_color" class="input" name="buss_vehicle_color" required> {% endcomment %}
                        <select name="buss_vehicle_type" id="vehicle_type" required>
                            <option value="" disabled selected hidden>Select Vehicle Type</option>
                            {% for choice in v_choice_data.vehicle_type %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        <select name="buss_vehicle_color" id="vehicle_type" required>
                            <option value="" disabled selected hidden>Select Vehicle Color</option>
                            {% for choice in v_choice_data.vehicle_color %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="field_add_new input-field">
                        <input type="text" placeholder="buss_vehicle_number" class="input" name="buss_vehicle_number" required>
                        
                    </div>
                    <div class="field_add_new input-field">
                        {% comment %} <input type="text" placeholder="buss_vehicle_type" class="input" name="buss_vehicle_type" required> {% endcomment %}
                        <select name="buss_vehicle_status" id="vehicle_type" required>
                            <option value="" disabled selected hidden>Select Vehicle Status</option>
                            {% for choice in v_choice_data.vehicle_status %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    <div class="field_add_new input-field">
                        <input type="text" placeholder="buss_vehicle_location" class="password" name="buss_vehicle_location" required>
                    </div>
                    <div class="field_add_new input-field">
                        <input type="text" placeholder="buss_rent_per_day" class="password" name="buss_rent_per_day" required>
                        {% comment %} <i class='bx bx-hide eye-icon'></i> {% endcomment %}
                    </div>
                    <div class="field_add_new input-field">
                        <input type="file" placeholder="buss_vehicle_photo" class="input" name="buss_vehicle_photo" required>
                        
                    </div>
                    <div class="field_add_new input-field">
                        <input type="text" placeholder="buss_vehicle_description" class="input" name="buss_vehicle_description" required>
                    </div>
                    
                    
                    <div class="field_add_new button-field">
                        <button>Submit</button>
                    </div>
                </form>
                {% comment %} <div class="form-link">
                    <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
</body>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src=" {% static 'js/buss_script.js' %} "></script>
</html>