{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
Add your new vehicles here. 
{% endblock title %} 


{% block linkcss %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link
  href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
  rel="stylesheet"
/>

<link rel="stylesheet" href=" {% static 'css/style.css' %} " />
<link rel="stylesheet" href=" {% static 'css/uiconstyle.css' %} " />
<link rel="stylesheet" href=" {% static 'css/popup_messages.css' %} " />
<link rel="stylesheet" href=" {% static 'css/tailwind-output.css' %}" />
{% endblock linkcss %}


{% if messages %}
<section class="popup_message">
  {% for message in messages %}

  <div class="modal_box">
    <i class="fa-regular fa-circle-check"></i>
    <h3 style="">{{ message }}</h3>
    <div class="buttons">
      <button class="close_btn">Ok, Close</button>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}


<style>
  .popup_message .modal_box h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    /* background: #dfeeecbc;;  */
    border-radius: 10px;
    /* box-shadow: 2px 2px 3px #7e7d7da9; */
    padding: 0px 10px 5px 10px;
    margin: 0;
    /* border: 1px solid #56565666; */
  }
</style>

{% block main_content %} 
<section class="relative flex justify-center w-[100%]">
  <div
    class="bg-white shadow-lg border-1 rounded-[1rem] px-[1rem] py-[2rem] mx-[.2rem] my-[3rem]"
  >
    <div class="flex flex-col items-center">
      <header class="text-[2.5rem] font-bold px-[1rem] pb-[2rem]">
        Add your new vehicles here.
      </header>
      <form
        action=""
        method="POST"
        enctype="multipart/form-data"
        class="flex flex-col mx-[1rem] px-[1rem] gap-[2rem]"
      >
        {% csrf_token %}

        <!-- <div class="field input-field">
                        <input type="text" placeholder="buss_vehicle_owner" class="input" name="buss_vehicle_owner" required>
        </div> -->
        <div
          class="mx-[.1rem] px-[2rem] py-[.5rem] grid grid-cols-1 sm:grid-cols-2 gap-[2rem]"
        >

          <select
            name="buss_vehicle_company_name"
            id="vehicle_type"
            class="shadow px-[1rem] py-[1.2rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            required
          >
            <option value="" disabled selected hidden>
              Select Vehicle Company
            </option>
            {% for choice in v_choice_data.vehicle_company %}
            <!-- {% comment %} {% if choice.0 != 'Company Name' %} {% endcomment %} -->
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            <!-- {% comment %} {% endif %} {% endcomment %} -->
            {% endfor %}
          </select>
          <input
            type="text"
            placeholder="Model name"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            name="buss_vehicle_model_name"
            required
          />
        </div>
        <div class="mx-[.1rem] px-[2rem] py-[.5rem] flex gap-[2rem]">
          {% comment %}
          <p>Enter your name :</p>
          {% endcomment %} 
          
          {% comment %}
          <input
            type="text"
            placeholder="buss_vehicle_color"
            class="input"
            name="buss_vehicle_color"
            required
          />
          {% endcomment %}
          <select
            name="buss_vehicle_type"
            id="vehicle_type"
            class="shadow px-[1rem] py-[1.2rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            required
          >
            <option value="" disabled selected hidden>
              Select Vehicle Type
            </option>
            {% for choice in v_choice_data.vehicle_type %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
          <select
            name="buss_vehicle_color"
            id="vehicle_type"
            class="shadow px-[1rem] py-[1.2rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            required
          >
            <option value="" disabled selected hidden>
              Select Vehicle Color
            </option>
            {% for choice in v_choice_data.vehicle_color %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mx-[.1rem] px-[2rem] py-[.5rem] flex gap-[2rem]">
          {% comment %}
          <input
            type="text"
            placeholder="buss_vehicle_type"
            class="input"
            name="buss_vehicle_type"
            required
          />
          {% endcomment %}
          <select
            name="buss_vehicle_status"
            id="vehicle_type"
            class="shadow px-[1rem] py-[1.2rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            required
          >
            <option value="" disabled selected hidden>
              Select Vehicle Status
            </option>
            {% for choice in v_choice_data.vehicle_status %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
          <input
            type="text"
            placeholder="buss_vehicle_number"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            name="buss_vehicle_number"
            required
          />
        </div>
        <div class="mx-[.1rem] px-[2rem] py-[.5rem] flex gap-[2rem]">
          {% comment %}
          <input
            type="text"
            placeholder="buss_vehicle_type"
            class="input"
            name="buss_vehicle_type"
            required
          />
          {% endcomment %}
          <input
            type="text"
            name="buss_chassi_number"
            placeholder="chassi number"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            required
          />

          <input
            type="text"
            name="buss_year_of_manufacture"
            placeholder="year of manufacture"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            required
          />
        </div>
        <div class="mx-[.1rem] px-[2rem] py-[.5rem] flex gap-[2rem]">
          {% comment %}           
          <input
            type="text"
            placeholder="buss_vehicle_type"
            class="input"
            name="buss_vehicle_type"
            required
          />
          {% endcomment %}
          <div class="flex flex-col w-auto">
            <label for="registration date" class="text-2xl"
              >registration date</label
            >
            <input
              type="date"
              name="buss_registration_date"
              id="registration date"
              placeholder="registration date"
              class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
              required
            />
          </div>
        </div>

        <div class="mx-[.1rem] px-[2rem] py-[.5rem] flex gap-[2rem]">
          <input
            type="text"
            placeholder="buss_vehicle_location"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            name="buss_vehicle_location"
            required
          />
          <input
            type="text"
            placeholder="buss_rent_per_day"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            name="buss_rent_per_day"
            required
          />
        </div>
        <div class="mx-[.1rem] px-[2rem] py-[.5rem] flex gap-[2rem]">
          <input
            type="text"
            placeholder="buss_vehicle_description"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] min-w-[25rem]"
            name="buss_vehicle_description"
            required
          />
          <input
            type="file"
            placeholder="buss_vehicle_photo"
            class="shadow px-[1rem] py-[1rem] border-[.1rem] border-solid border-gray-300 hover:border-gray-400 rounded-[.3rem] text-[1.5rem] w-[25rem]"
            name="buss_vehicle_photo"
            required
          />
        </div>

        <div class="mx-[.1rem] px-[2rem] py-[.5rem] flex gap-[2rem]">
          <button class="btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock main_content %} 


{% block scripts %}
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src=" {% static 'js/script.js' %} "></script>
  <script src=" {% static 'js/passvalid.js' %} "></script>
  <script src=" {% static 'js/uiconscript.js' %} "></script>
  <script src=" {% static 'js/buss_script.js' %} "></script>
{% endblock scripts %}
