{% extends 'buss_master.html' %}

{% block title %}
    Your vehicles
{% endblock%}


{% block homeimage %}
{% endblock %}

{% block popularvehicles %}
    {% if request.session.buss_log_user %}
        {% if fetch_buss_vehicle %}
        {% comment %}  {% endcomment %}
        <section class="bg-gray-50 relative top-[10rem]" id="">
            <h1 class="flex justify-center text-[4rem] text-black/80 font-semibold">Your Vehicles</h1>
            <div class="swiper  !h-fit">
                <div class="flex flex-col scroll-smooth">
                    {% for vdata in fetch_buss_vehicle %}
                    {% if vdata.buss_vehicle_owner  %}
                        <form action="vehicle/details" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="vehicle_id" value={{ vdata.id }} hidden/>

                            <div class=" box relative flex flex-row m-10 overflow-hidden rounded-lg border border-gray-200 bg-white shadow-md ">
                                <a class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl" href="/vehicle/checkout/">
                                    <img class="object-contain rounded-xl" src="/media/{{ vdata.buss_vehicle_photo}} " alt="" width="300" height="200" />
                                    <span class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white">39% OFF</span>
                                </a>
                                <div class="flex justify-evenly w-[100%] mt-4 px-2 pb-5">
                                    {% comment %} <a href="/vehicle/checkout/{{ vdata.id}}"> {% endcomment %}
                                        <h5 class="font-semibold text-2xl tracking-tight text-slate-900">{{ vdata.buss_vehicle_id }}</h5>
                                        {% comment %} <h5 class="font-semibold text-2xl tracking-tight text-slate-900">{{ vdata.buss_vehicle_color }}</h5> {% endcomment %}
                                        <h5 class="font-semibold text-2xl tracking-tight text-slate-900">{{ vdata.buss_vehicle_company_name }} - {{ vdata.buss_vehicle_model|slice:":7" }}</h5>
                                        <h5 class="font-semibold text-2xl tracking-tight text-slate-900">{{ vdata.buss_vehicle_type }}</h5>
                                    
                                    {% comment %} </a> {% endcomment %}
                                    <div class="flex mt-2 mb-5 items-center justify-between">
                                        <p>
                                            <span class="text-3xl font-bold text-slate-900"><span class="font-sans">₹</span>{{ vdata.buss_rent_per_day }}/-</span>
                                            <span class="text-lg text-slate-900 line-through"><span class="font-sans">₹</span>{{ vdata.buss_rent_per_day | add:"1200" }}</span>
                                        </p>
                                        {% comment %} <div class="flex items-center">
                                            <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                            </svg>
                                            <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                            </svg>
                                            <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                            </svg>
                                            <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                            </svg>
                                            <svg aria-hidden="true" class="h-5 w-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                                            </svg>
                                            <span class="mr-2 ml-3 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold">5.0</span>
                                        </div> {% endcomment %}
                                    </div>   
                                
                                
                                    <div class="flex flex-row items-center justify-evenly  text-center gap-[1.5rem]">
                                        <a href="{{ vdata.id }}" class="flex items-center gap-3 justify-center rounded-md px-[.7rem] py-2 text-3xl font-medium text-white bg-red-600  hover:bg-red-600/80 focus:outline-none focus:ring-4 focus:ring-red-300">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0v-6a.5.5 0 0 1 .5-.5zm2.5.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-1 0v-6zm3 .5a.5.5 0 0 1 .5-.5v6a.5.5 0 0 1-1 0v-6a.5.5 0 0 1 .5-.5z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9.5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H14a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13.5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                            <p>remove vehicle</p>
                                        </a>
                                        
                                        
                                        <div class="flex items-center gap-3 justify-center cursor-pointer rounded-md  px-[.7rem] py-2 text-3xl font-medium text-white bg-slate-900 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300">
                                            <button type="submit" class="flex justify-center items-center  gap-3" value="Vehicle Details">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                                Vehicle Details
                                            </button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        
                        </form>   
                        
                    {% endif %}
                    {% endfor %}
                            
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section> 
        {% else %}
        <section class="bg-gray-50 relative top-[10rem]" id="">
            <div class="flex flex-col items-center justify-center text-center space-y-6 py-[5rem] px-[5rem] bg-white border rounded-lg shadow-sm">
                
            
                <!-- Message Header -->
                <h2 class="text-3xl lg:text-4xl xl:text-5xl font-bold text-gray-800">
                    No Vehicles Found
                </h2>
            
                <!-- Message Description -->
                <p class="text-gray-600 max-w-3xl text-3xl py-5">
                    You haven’t registered any vehicles yet. List your first vehicle now to make it available for rentals.
                </p>
            
                <!-- Action Button -->
                <a href="{% url 'add_new_vehicle' %}" 
                    class="px-6 py-4 bg-blue-600 text-white text-3xl font-medium rounded-md shadow-lg hover:bg-blue-700 hover:shadow-xl transition-all">
                    Register Your First Vehicle
                </a>
            </div>
        </section>
        {% endif %}      
    {% endif %}
{% endblock %}


{% block branches %}
{% endblock %}



{% block ourservices %}
{% endblock %}




{% block contactus %}
{% endblock %}




{% block footer %}
{% endblock %}