*{
    margin: 0;
    padding: 0;
}
body {
    top: 10rem;
    margin: 0;
    padding: 0;
    position: relative;
    background: #f4f4f496;
}
.container{
    margin:2rem 2rem 5rem 2rem;
    padding: 1rem 1rem;
    width: auto;
    border-radius: 8px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    /* background: #09ffffc8; */
    /* background: #fcffffc8;
    box-shadow: 5px 6px 6px #bababac1, 
                0px 0px 6px #bababac1, 
                0px 0px 6px #bababac1; */

}

.container form{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem 10rem;
    border-radius: 6px;
}
.container div form{
    /* background-color: rgb(96, 96, 96); */
    background: #fcffffc8;
    box-shadow: 5px 6px 6px #bababac1, 
                0px 0px 6px #bababac1, 
                0px 0px 6px #bababac1;
}
.container div div span{
    font-size: 18px;
    /* cursor:unset; */
}

.container div form .img{
    /* display: block; */
    position: relative;
    width: 30rem;
    margin: 2rem 2rem;
    padding: 2rem 2rem;
    /* background-color: yellow; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.container div form .img .deleteprofile{
    /* background-color:yellow; */
    width: 26px;
    margin: -10px 0px 0px 55px;
    padding: 0;
}
.container div form .img input{
    /* background-color: red; */
    /* color: violet; */
    left: -15px;
    display:grid;
    /* font-size: 10px; */
    position: relative;
    margin: 0px;
    padding: 10px;
    width: 220px;
    /* height: 0px; */
}
.container div form .img input:hover{
    /* background-color: red; */
    background: rgba(251, 255, 255, 0.963);
    /* color: violet; */
    border: none;
    box-shadow: none;
}

.container div .profile-section{
    display:block;
    position:relative;
    /* top: -314px; */
    width: 640px;
    /* height: 500px; */
    /* left: 250px; */
    /* background-color: yellow; */
    /* d-flex justify-content-between align-items-center mb-3 */
}
.container div .profile-section .profile-detail{
    position: relative;
    /* background: yellow; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    align-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 0, 0.536); */
}


.container div .profile-section .profile-detail .profile-heading{
    margin: 20px 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
    /* background-color: aqua; */

}
.container div .profile-section .profile-detail .profile-input{
    display:flex;
    position: relative;
    padding: 1rem 1rem;
    margin: 0 2rem;
    /* background-color: tomato; */
    
    /* width: 200px; */
    /* flex-wrap: wrap; */
    

}
.container div .profile-section .profile-detail .profile-input .input{
    display:flex;
    margin: .3rem 1rem;
    padding: .3rem 1rem;
    flex-wrap: wrap;
}
.container div .profile-section .profile-detail .profile-input .input label{

    /* display:flex; */
    /* position:relative; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 15px;
    margin: 0px 0px 0px 10px;
    top: 10px;
    right: -8px;

    /* background-color: violet; */
}
.container div .profile-section .profile-detail .profile-input .input input{
    /* display:flex;
    position:relative; */
    /* width: 300px;
    height: 45px; */
    border: 1px solid #969696;
    border-radius: 5px;
    margin: 10px;
    padding: 12px;
    font-size: 15px;
}

.rounded-circle{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    /* width: 150px;
    height: 150px; */
    object-fit: cover;
    background: #dfdfdf;
}
.container div .profile-section .profile-detail .button{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    background: aliceblue;
    padding: 2rem 5rem;
    
}
.container div .profile-section .profile-detail .button a{
    background: #0040ffc7;
    color: white;
    margin: auto;
}
.profile-button {
    /* display: block;
    position: relative;
    left: 240px; */
    background: #ffff00;
    box-shadow: none;
    border: none
}
.container input:hover{
    border: 1px solid rgb(96, 96, 96);
    box-shadow: 2px 3px 8px rgba(53, 53, 53, 0.1),
            0px 0px 8px rgba(71, 71, 71, 0.1),
            0px 0px 8px rgba(66, 66, 66, 0.1);
}

/* .updProfileimginput{
    background-color: red;
    font-size: 10px;
    display:grid;
    position:relative;
    color: violet;
    width: 150px;
    height: 100px;
} */
.container input[type="file"]{
    /* background-color: springgreen; */
    cursor: pointer;

}

.form-control:focus {
    box-shadow: none;
    border-color: #454545
}
.profile-button:hover {
    color: black;
    background: #f6ff00c9
}

.profile-button:focus {
    background: #bcbcbc;
    box-shadow: none
}

.profile-button:active {
    background: #a3a3a3;
    box-shadow: none
}

.back:hover {
    color: #979797;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #b0b0b0;
    color: #fff;
    cursor: pointer;
    border: solid 1px #cdcdcd
}

.footer{
    margin: 0px;
    top: 20px;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;

    /* background-color: red; */

}

/* @media (max-width:1195px){} */

@media (max-width:770px){
    .container{
        display: block;
        width: auto;
        margin:.4rem .4rem 4rem .4rem;
        overflow: hidden;
    }
    .container div .profile-section{
        width:auto;

    }
    .container div .profile-section .profile-detail .profile-input{
        display:flex;
        flex-direction: column;
        position: relative;
        
        margin: 0;
        padding: 0 2rem;
        /* width: 200px; */
        flex-wrap: wrap;
        width: min-content;
        
    
    }
    .container div .profile-section .profile-detail .profile-input .input input {
        display: flex;
        position: relative;
        width: auto;
        height: auto;
        border: 1px solid #969696;
        margin: 1rem 1rem 2rem 1rem;
        padding: 1.2rem 3rem;
        /* padding: 12px; */
        font-size: 15px;
    }


}

@media (max-width:428px){

    .container{
        top: 0;
        border: none;
        box-shadow: none;
        padding: .4rem .4rem;
        overflow: hidden;
    }
    .container form {

        margin: 1rem .4rem;
        padding: 0;
        
    }
    .container div .profile-section {
        
        /* background-color: yellow; */
    }

    .container div .profile-section .profile-detail .profile-input {
        margin: 0px 5px;
    }
    .container div form .img {
        margin: 10px 10px;
        padding: 3rem 3rem;
        /* border: 1px solid rgba(224, 224, 224, 0.871); */
        border-radius: 7px;
        width: auto;
        /* background-color: rgb(0, 255, 17); */
    }
    .container div form .img img {
        /* width: 10rem; */
        cursor: pointer;
    }
    .container div form .img .deleteprofile {
        /* background-color: yellow; */
        /* width: 26px; */
        /* margin: -6vh 0px 0px 28vh; */
        /* padding: 0; */
    }
    .container div form .img .deleteprofile a{
        /* background-color:violet; */
    }
    .container div form .img .deleteprofile a img{
        /* background-color: red; */
    
    }
    /* .container div form .img input{
        position: relative;
        display: flex;
        justify-content: center;
        left: 0;
    } */
}

@media (max-width: 408px){
    .container{
        top: 0;
        border: none;
        box-shadow: none;
        padding: .4rem .4rem;
    }
    .container form {

        margin: 1rem .4rem;
        padding: .3rem .3rem;
        
    }
    .container div .profile-section .profile-detail .profile-input .input input{
        padding: 1rem .1rem 1rem 2rem;
    }
}
@media (max-width: 385px){
    
}
@media (max-width: 395px){
    .container{
        top: 0;
        border: none;
        box-shadow: none;
        margin: .3rem .3rem;
        padding: .3rem .3rem;
        /* background-color: red; */
    }
    .container form {

        /* margin: 1rem 1rem;
        padding: 0;
        background-color: #0026ff; */
    }
}
@media (max-width:376px){
    /* body{
        background-color: red;
    } */
}
@media (max-width:365px){
    /* body{
        background-color: red;
    } */

}
@media (max-width:360px){
    
}