/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 48rem;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    column-gap: 30px;
    margin: 1px 10px 20px 10px;
    padding: 10px 10px 30px 10px;

  
}

.form{
    position: absolute;
    max-width: 26rem;
    width: 95%;
    padding: 20px 20px;
    border-radius: 6px;
    background: #fdfdfdd9;
    margin: 30px 20px 10px 20px;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 3px 2px 5px rgba(179, 179, 179, 0.21),
                3px 3px 5px rgba(221, 221, 221, 0.4),
                0px 3px 5px rgba(176, 176, 176, 0.4);
}
.container .form:hover{
    border: 1px solid rgba(96, 96, 96, 0.363);
    box-shadow: 3px 2px 5px rgba(149, 149, 149, 0.544),
                -1px 2px 5px rgba(157, 157, 157, 0.452),
                1px 2px 4px rgba(151, 151, 151, 0.401);
    transition: ease-in all .2s;
}
.form form{
    top: -2rem;
    position: relative;
}

.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    /* left: 25rem; */
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#bfbfbf;
}
.field input:focus{
    border-bottom-width: 2px;
}
.field input:hover{
    border: 1px solid #656565;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    filter: brightness(0.8);
    /* background-color: #016dcb; */
}

.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    transform: translate(0%) scale(.97);
    text-decoration: none;
}


.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}






/* add new vehicles */
.container_add_new{
    height: 48rem;
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: #ffffff; */
    background-color: #ff0000;
    column-gap: 30px;
    margin: 10px 10px 20px 10px;
    /* padding: 10px 10px; */

}
.container_add_new .form_add_new:hover {
    border: 1px solid rgba(96, 96, 96, 0.363);
    box-shadow: 3px 2px 5px rgba(149, 149, 149, 0.544),
                 -1px 2px 5px rgba(157, 157, 157, 0.452), 
                 1px 2px 4px rgba(151, 151, 151, 0.401);
    transition: ease-in all .3s;
}

.form_add_new{
    /* position: absolute; */
    max-width: 60rem;
    /* width: 95%; */
    padding: 20px 20px;
    border-radius: 6px;
    background: #fdfdfdd9;
    /* background: #f51616d9; */
    margin: 1rem 2rem;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 3px 2px 5px rgba(179, 179, 179, 0.21),
                3px 3px 5px rgba(221, 221, 221, 0.4),
                0px 3px 5px rgba(176, 176, 176, 0.4);
}

.form_add_new form{
    /* top: -2rem;
    position: relative; */
    padding: 10px 10px;
    /* background-color: rgb(109, 109, 247); */
}

.form_add_new .field_add_new{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    /* left: 25rem; */
}
.field_add_new input{
    height: 100%;
    width: 21rem;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    border: 1px solid#bfbfbf;
}
/* {display: flex; */
/* justify-content: space-between; */
/* margin: 10px 0;} */
.field_add_new button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field_add_new input:focus{
    border-bottom-width: 2px;
}
.field_add_new input:hover{
    border: 1px solid #656565;
}

.field_add_new select{
    height: 3rem;
    width: 21rem;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 6px;
    outline: none;
    padding: 0px 15px;
    margin: 0px;
    border: 1px solid#bfbfbf;
    background-color: rgb(255, 255, 255);
}
.field_add_new select:hover{
    border: 1px solid #808080b6;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field_add_new button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field_add_new button:hover{
    filter: brightness(0.8);
    /* background-color: #016dcb; */
}

.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    /* color: #232836; */
}
.form_add_new a{
    color: #0171d3;
    transform: translate(0%) scale(.97);
    text-decoration: none;
}




/* add new vehicles css Ends */

@media screen and (max-width: 400px) {
    .form{
        padding: 10px 10px;
    }
    
}



