/*userProfileStyle.css*/
*{
    margin: 0;
    padding: 0;

}

body{
    /* background: -webkit-linear-gradient(left, #e9e9ea, #f2f2f6); */
    background-color: rgb(233, 233, 233);
    /* margin: 0;
    padding: 0; */

}
.emp-profilesx{
    padding: 40px 0px 40px 0px;
    /* margin-top: 3%;
    margin-bottom: 3%; */
    margin: 19vh 40px 0px 0px;
    top:-26px;
    left:42px;
    height: 80vh;
    width: 94vw;
    border-radius: 20px;
    display:flexbox;
    position:relative;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.emp-profilesx:hover{
    box-shadow: 2px 3px 4px rgb(174, 174, 174),
            0px 0px 3px rgb(173, 173, 173),
            0px 0px 3px rgb(158, 158, 158);
    /* border: .4px solid rgba(148, 148, 148, 0.157); */
}
.emp-profilesx .main-profile-img{
    margin: 0px;
    padding: 0px;
    display:block;
    position: absolute;
    top: 70px;
    left: 70px;
    /* height:240px; */
    width: 270px;
    /* background-color: #29c9b99e; */
}


.main-profile-img{
    /* position: relative; */
    /* height: 70px; */
    left: 50px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    
}
.main-profile-img img{
    height: auto;
    width: 72%;
    /* width: 70%; */
    /* height: 100%; */
}
.main-profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: 1px;
    width: 200px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
    color: white;
}
.main-profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.emp-profilesx form .profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 8vw;
    padding: 6px;
    font-weight: 500;
    font-size: 15px ;
    color: #727272;
    cursor: pointer;
    /* width: 70%;
    padding: 2%; */
    
}


.containers form div .editprofile a{
    margin: 10px 10px;
    padding: 2px 0px;
    top: 20px;
    left: 82vw;
    /* left: 50vw; */
    height: 36px;
    width: 9vw;
    display: block;
    position:absolute;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(242, 255, 0, 0.828);  
    color:black;
    cursor: pointer;

}
.containers form div .editprofile a:hover{
    background-color: rgb(255, 234, 0);  

}



.profile-head{
    position: relative;
    left: 430px;
    width: 850px;
    top: 0px;
    /* background-color: yellow; */
}
.profile-head h5{
    color: #333;
    font-size: 19px;
}
.profile-head h6{
    font-size: 15px;
    color: #0062cc;
}

/* input */
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 8vw;
    padding: 6px;
    font-weight: 500;
    font-size: 15px ;
    color: #727272;
    cursor: pointer;
    /* width: 70%;
    padding: 2%; */
    
}
.proile-rating{
    font-size: 15px;
    color: #494949;
    margin: 30px 0px 24px 0px;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs{
    display:flex;
    position: relative;
    margin-bottom:5%;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.373);
    /* background-color: palevioletred; */
}
.profile-head .nav-tabs .nav-item{
    text-decoration: none;
    list-style-type: none;
   
    
}
.profile-head .nav-tabs .nav-link{
    font-weight:500;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    /* text-decoration: none;
    list-style-type: none; */

    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    /* border: 1px solid rgba(0, 0, 0, 0.1);    */
    padding: 0px 10px 1px 10px;
    border-bottom:2px solid #0a6ad1e7;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition :cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.profile-work{
    /* background-color: rgb(170, 255, 0); */
    /* font-weight: 300; */
    display:block;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    height: 250px;
    top: 210px;
    left: 50px;
    /* margin: 100px 20px; */
    padding: 10px 20px;
    /* margin-top: 0px; */
}
.profile-work p{
    font-size: 17px;
    color: #1c1c1c;
    font-weight: 600;
    margin-top: 10px;
    /* border-radius: 4px; */
}
.profile-work a{
    /* flex: 1; */
    line-height: 1.6;
    text-decoration: none;
    /* text-transform:none; */
    color: #171717;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 10px 0px;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}

.profile-tab{
    top: 210px;
    height: 300px;
    width: 40vw;
    left:430px;
    /* margin: 20px 20px; */
    padding: 20px 0px;
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    line-height: 1;
    /* background-color: rgb(110, 255, 149); */
    

}

.profile-tab label{
    font-weight: 500;
    font-size: 15px;
    color:rgb(24, 24, 24);
    /* background-color: #0062cc; */
    

}
.profile-tab p{
    display: flex;
    position: relative;
    margin: 2px 2px;
    /* padding: 2px; */
    top: -15px;
    left: 150px;
    width: 450px;
    font-weight: 500;
    /* line-height: 10px; */
    word-spacing: 5px;
    font-size: 15px;
    color: #000000;
    /* background-color:red */
}

/* .profile-tab div div .border-style{
    border:1px solid rgba(49, 49, 49, 0.098);
    width:20vw;
    left:-2px;
} */

.profile-tab #profile p {
    /* background-color: #0062cc; */
    /* display: none; */
}


@media (max-width:429px){
    .emp-profilesx {
        padding: 0;
        /* margin-top: 3%;
        margin-bottom: 3%; */
        margin: 15vh 3vh 1vh 3vw;
        top: -26px;
        left: 0;
        height: 89vh;
        width: 94vw;
        border-radius: 10px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background: #ffffff;
    }
    .emp-profilesx .main-profile-img {
        margin: 0px;
        padding: 0px;
        display: block;
        position: absolute;
        top: 4vh;
        left: 53vw;
        /* height: 240px; */
        width: 159px;
        /* background-color: #29c9b99e; */
    }
    .profile-work {
        /* background-color: rgb(170, 255, 0); */
        /* font-weight: 300; */
        display: block;
        position: absolute;
        /* justify-content: center;
        align-items: center;
        padding: 20px; */
        height: 140px;
        top: 2vh;
        left: 2vw;
        padding: 10px 20px;
        margin: 10px 10px;
        border: 1px solid rgba(231, 231, 231, 0.403);
        border-radius: 4px;
    }
    .profile-work:hover{
        border: 1px solid rgba(200, 200, 200, 0.943);
        
    }
    .profile-work p{
        font-size: 10px;
        color: #1c1c1c;
        font-weight: 600;
        margin:0px;
    }

    .proile-rating {
        font-size: 15px;
        color: #494949;
        margin: 10px 0px 10px 0px;
    }
    .profile-tab {
        top: 44vh;
        height: 240px;
        width: 84vw;
        left: 0px;
        margin: 10px 20px;
        padding: 10px 10px;
        display: block;
        position: absolute;
        justify-content: center;
        align-items: center;
        line-height: 1;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 5px;
        /* background-color: rgb(110, 255, 149); */
    }
    .main-profile-img img {
        height: auto;
        width: 72%;
        /* width: 70%;
        height: 100%; */
        border-radius: 10px;
    }

    .profile-head {
        position: relative;
        left: 16px;
        width: 85vw;
        top: -7vh;
        /* background-color: yellow; */
    }
    .profile-head .nav-tabs .nav-link.active {
        /* border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0px 10px 1px 10px;
        border-bottom: 2px solid #0a6ad1e7;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        transition: cubic-bezier(0.895, 0.03, 0.685, 0.22); */
        z-index: 9999999;
        position: relative;
    }

    .profile-tab .tab-pane .row label{
        /* background-color: red; */
        font-size: 12px;
    }
    .profile-tab .tab-pane .row p{
        /* background-color: red; */
        font-size: 12px;
        width: 35vw;
    }

    .containers form div .editprofile a {
        margin: -10px 0 0 0;
        padding: 2px 0px;
        top: 82vh;
        left: 30vw;
        /* left: 50vw; */
        height: 36px;
        width: 35vw;
        display: block;
        position: absolute;
        /* justify-content: center;
        align-items: center;
        border: 1px solid black; */
        border-radius: 8px;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        background-color: rgba(242, 255, 0, 0.828);
        color: black;
        cursor: pointer;
    }
    .containers form .row .border{
        top: -26vh;
        position: relative;
        width: 90vw;
        border-bottom: 1px solid #999;
    }
    
    
}