{% extends "master.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Booking History{% endblock %}

{% block content %}
    {% include "components/shared/messages.html" %}
    <section class="vehicle_booking_hist relative flex flex-row top-[10rem] bg-white" id="vehicle_booking_hist">
        <div class="text-[1.5rem] h-[50rem] w-[50rem] p-[10px] mt-[10px] bg-gray-800/50">
            <h1>Apply Filters</h1>
            <div>
                <p>category</p>
            </div>
        </div>
        <div class="flex flex-col">
            <form action="" method="post">
                <div class="flex justify-center items-center w-[100%] p-[10px]">
                    <div class="flex items-center border border-gray-300 rounded-lg overflow-hidden shadow-sm bg-white w-full">
                        {% csrf_token %}
                        <input type="text" name="search_booked_vehicle" placeholder="Search..." class="px-4 py-4 w-full rounded-l-lg outline-none text-[1.5rem] text-gray-700 placeholder-gray-500 focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out" />
                        <button type="submit" class="bg-blue-600 text-white text-[1.5rem] lg:text-[1.7rem] px-4 py-4 hover:bg-blue-700 outline-none focus:ring-2 focus:ring-blue-500 transition duration-200 ease-in-out rounded-r-lg">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <div class="swiper vehicle_booking_hist-slider w-[100%] p-[10px] m-0 bg-white">
                <div class="relative w-[100%] z-1 transition-transform box-content">
                    {% for vdata in vdata %}
                    <div class="swiper-slide box text-center flex mt-[10px] mx-auto border border-1 border-solid border-gray-400/80 box-border hover:border-gray-500/90 bg-white shadow-sm hover:shadow-lg transition-all">
                        <img src="/media/{{ vdata.vehicle_id.buss_vehicle_photo }}" alt="" width="300" height="200" class="m-[5px] h-auto w-[20rem] relative object-cover rounded transition">
                        <div class="content flex flex-wrap justify-center m-[10px] pt-[3px] pb-[20px] px-[5px] rounded-sm">
                            <p class="relative flex justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-bold transform-none no-underline w-[22rem]">
                                {{ vdata.vehicle_id.buss_vehicle_company_name }}  {{ vdata.vehicle_id.buss_vehicle_model }} ({{ vdata.vehicle_id.buss_vehicle_color }}, {{ vdata.vehicle_id.buss_vehicle_type }})
                            </p>
                            <p class="relative flex justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                On {{ vdata.booking_date }}
                            </p>
                            <p class="relative flex justify-center items-center m-[10px] p-[10px] text-[1.7rem] font-semibold transform-none no-underline w-[22rem]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 44 44" fill="none">
                                    <text x="28" y="30" font-family="Arial, sans-serif" font-size="20" fill="black" text-anchor="middle" class="font-sans">₹</text>
                                </svg>
                                {{ vdata.amount }} <span class="text-[1rem] font-normal"> (18% GST included)</span> 
                            </p>
                            <p class="relative flex justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                From : {{ vdata.from_duration }} To :{{ vdata.from_to}}
                            </p>
                            <p class="relative flex justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="20" fill="green">
                                    <path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
                                </svg>
                                {{vdata.vehicle_id.buss_vehicle_location }}
                            </p>
                            <p class="relative flex justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                vehicle number : {{ vdata.vehicle_id.buss_vehicle_number }}
                            </p>
                            {% if vdata.is_cancelled %}
                                <p class="relative flex justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                    <span class="relative w-7 h-5 rounded-[100%] bg-red-600"></span>
                                    Cancelled on {{vdata.cancelled_at}}
                                </p>
                            {% endif %}
                            {% if not vdata.is_cancelled and vdata.status == 'pending' %}
                                <p class="relative flex gap-3 text-blue-600 justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 50 50">
                                        <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 37.039062 10.990234 A 1.0001 1.0001 0 0 0 36.265625 11.322266 L 26.183594 22.244141 A 3 3 0 0 0 25 22 A 3 3 0 0 0 22 25 A 3 3 0 0 0 25 28 A 3 3 0 0 0 25.5 27.958984 L 29.125 34.486328 A 1.0010694 1.0010694 0 1 0 30.875 33.513672 L 27.246094 26.984375 A 3 3 0 0 0 28 25 A 3 3 0 0 0 27.652344 23.599609 L 37.734375 12.677734 A 1.0001 1.0001 0 0 0 37.039062 10.990234 z"></path>
                                    </svg>
                                    {{ vdata.status }}
                                </p>
                            {% elif not vdata.is_cancelled and vdata.status == "approved" %}
                                <p class="relative flex gap-2 text-green-600 justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 48 48" class="">
                                        <path fill="#c8e6c9" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#4caf50" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
                                    </svg>
                                    {{vdata.status}}
                                </p>
                            {% elif not vdata.is_cancelled and vdata.status == "completed" %}
                                <p class="relative flex gap-2 text-blue-600 justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 48 48" class="">
                                        <path fill="#c8e6c9" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#4caf50" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
                                    </svg>
                                    {{vdata.status}}
                                </p>
                            {% elif vdata.status == "rejected" %}
                                <p class="relative flex gap-2 text-red-600 justify-center items-center m-[10px] p-[10px] text-[1.4rem] font-semibold transform-none no-underline w-[22rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 48 48">
                                        <path fill="#ffcdd2" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path><path fill="#f44336" d="M31.707,30.293l-7.414-7.414l-7.414,7.414l-2.828-2.828l7.414-7.414l-7.414-7.414l2.828-2.828l7.414,7.414l7.414-7.414l2.828,2.828l-7.414,7.414l7.414,7.414L31.707,30.293z"></path>
                                    </svg>
                                    {{vdata.status}}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %} 