{% extends "master.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<section class="contact" id="contact" style="margin: 90px 10px;">
    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883734.5405313424!2d71.10875065591415!3d22.69997852215749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1648971540844!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
        <form action="/contactdata" method="post">
            {% csrf_token %}
            <h3>get in touch</h3>
            <input type="text" placeholder="your name" class="box" name="fname" required>
            <input type="email" placeholder="your email" class="box" name="email" required>
            <input type="tel" placeholder="your mobile no" class="box" name="phone" required>
            <textarea placeholder="your message" class="box" cols="30" rows="10" name="mess" required></textarea>
            <input type="submit" value="send message" class="btn">
        </form>
    </div>
</section>
{% endblock %}
{% block scripts %}
{% include "components/scripts.html" %}
{% endblock %} 