{% extends "master.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}
    {% include "components/shared/messages.html" %}
{% endblock %}

{% block ourservices %}
<section class="mt-[10rem] mb-[3rem]flex flex-row relative items-center justify-center ">
    <div class="px-[.6rem] py-[2rem] rounded-lg border bg-card text-card-foreground shadow-sm w-full max-w-xl mx-auto" data-v0-t="card">
        <div class="flex flex-col space-y-1.5 p-6">
          <h3 class="whitespace-nowrap text-4xl normal-case font-semibold leading-none tracking-tight">Send us your feedback</h3>
          <p class="text-lg normal-case text-muted-foreground">We value your input and want to hear your thoughts.</p>
        </div>
        <div class="p-6">
            <form class="max-w-lg mx-auto" action="/feedbackshow" role="form" method="post" id="reused_form">      
                {% csrf_token %}
                <div class="mb-5">
                    <label for="name" class="block mb-2 text-lg font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Your name</label>
                    <input type="name" name="name" id="name" class="flex normal-case h-[4rem] w-full rounded-md border border-gray-950/60 px-3 py-4 text-[1.3rem] bg-transparent focus:outline-offset-0 focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset disabled:cursor-not-allowed disabled:opacity-50" placeholder="Enter your name" required />
                </div>
                <div class="mb-5">
                    <label for="email" class="block mb-2 text-lg font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Your email</label>
                    <input type="email" name="email" id="email" class="flex normal-case h-[4rem] w-full rounded-md border border-gray-950/60 px-3 py-4 text-[1.3rem] bg-transparent focus:outline-offset-0 focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset disabled:cursor-not-allowed disabled:opacity-50" placeholder="abc@gmail.com" required />
                </div>
                <div class="mb-5">
                    <label for="feedbackmessage" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Your message</label>
                    <textarea id="feedbackmessage" name="comments" rows="4" class="flex normal-case h-[4rem] w-full rounded-md border border-gray-950/60 px-3 py-4 text-[1.3rem] bg-transparent focus:outline-offset-0 focus-visible:ring-1 focus-visible:ring-ring focus-visible:ring-offset disabled:cursor-not-allowed disabled:opacity-50 min-h-[120px]" placeholder="Leave a comment..." required ></textarea>
                </div>
                <div class="mb-5 flex flex-col justify-center items-center gap-[.5rem]">
                    <label for="star-rating" class="text-lg">How do you rate your overall experience?</label>
                    <span class="star-rating m-[.5rem] w-[175px] h-[35px] relative overflow-hidden whitespace-nowrap bg-contain " id="star-rating" name="rating" required>
                        <input type="radio" class="rating" name="rating1" value="1"><i></i>
                        <input type="radio" class="rating" name="rating1" value="2"><i></i>
                        <input type="radio" class="rating" name="rating1" value="3"><i></i>
                        <input type="radio" class="rating" name="rating1" value="4"><i></i>
                        <input type="radio" class="rating" name="rating1" value="5"><i></i>
                    </span>
                </div>
                <button type="submit" class="h-[4rem] w-full px-5 py-2.5 text-center text-white bg-gray-900/80 hover:bg-blue-800/90 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-[1.4rem]  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit Feedback</button>
            </form>
        </div>
        <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Posted your feedback successfully!</h3> </div>
        <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
    </div>
</section>
{% endblock %}