{% extends "master.html" %}
{% load static %}

{% block title %}Generate Report{% endblock %}

{% block content %}
    {% include "components/shared/messages.html" %}
    <section class="relative bg-gray-300/70 top-[7rem] mt-[4rem] mb-[60rem] border">
        <div class="flex flex-col justify-center items-center px-4 py-4 my-[2rem] border-b border-b-black/50">
            <h1 class="text-[3rem] font-semibold text-gray-800/90">Generate User Report</h1>
            <div class="flex justify-center items-center px-4 py-4">
                <div class="mx-[3rem] border rounded-md bg-blue-500/80 hover:bg-blue-500 cursor-pointer px-7 py-4 text-white">
                    <a href="/generate/user/report" class='text-[1.8rem]'>Generate User Report</a>
                </div>
                <div class="mx-[3rem] border rounded-md bg-red-500/80 hover:bg-red-500 cursor-pointer px-7 py-4 text-white">
                    <a href="/export/user/report/in/pdf/" class='text-[1.8rem]'>Generate User Report PDF</a>
                </div>
                <div class="mx-[3rem] border rounded-md bg-green-500/80 hover:bg-green-500 cursor-pointer px-7 py-4 text-white">
                    <a href="/export/user/report/in/csv/" class='text-[1.8rem]'>Generate User Report CSV</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center px-4 py-4 my-[2rem] border-b border-b-black/50">
            <h1 class="text-[3rem] font-semibold text-gray-800/90">Generate Vehicle Report</h1>
            <div class="flex justify-center items-center px-4 py-4">
                <div class="mx-[3rem] border rounded-md bg-blue-500/80 hover:bg-blue-500 cursor-pointer px-7 py-4 text-white">
                    <a href="/generate/vehicle/report" class='text-[1.8rem]'>Generate Vehicle Report</a>
                </div>
                <div class="mx-[3rem] border rounded-md bg-red-500/80 hover:bg-red-500 cursor-pointer px-7 py-4 text-white">
                    <a href="/export/vehicle/report/in/pdf/" class='text-[1.8rem]'>Generate User Report PDF</a>
                </div>
                <div class="mx-[3rem] border rounded-md bg-green-500/80 hover:bg-green-500 cursor-pointer px-7 py-4 text-white">
                    <a href="/export/vehicle/report/in/csv/" class='text-[1.8rem]'>Generate User Report CSV</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center px-4 py-4 my-[2rem] border-b border-b-black/50">
            <h1 class="text-[3rem] font-semibold text-gray-800/90">Generate Booking Report</h1>
            <div class="flex justify-center items-center px-4 py-4">
                <div class="mx-[3rem] border rounded-md bg-blue-500/80 hover:bg-blue-500 cursor-pointer px-7 py-4 text-white">
                    <a href="/generate/booked/vehicle/report" class='text-[1.8rem]'>Generate Booking Report</a>
                </div>
            <div>
        </div>
    </section>
{% endblock %} 