{% extends 'master.html' %}

{% block title %}
    <title>Terms & Conditions</title>
{% endblock %}

{% block homeimage %}
{% endblock %}


{% block branches %}
</br>
</br>
</br>
</br>
<p>Thia is Terms And Condition Page</p>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{% endblock %}

{% block popularvehicles %}
{% endblock %}


{% block ourservices %}
{% endblock %}


{% block ourcars %}
{% endblock %}


{% block contactus %}

{% endblock %}



{% comment %} {% block header %}

{% endblock %} {% endcomment %}

{% comment %} {% block branches %} {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}


{% comment %} {% block popularvehicles %} {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}

{% comment %} {% block ourservices %} {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}

{% comment %} {% block ourcars %} {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}



