{% extends 'buss_master.html' %}
{% load static %}

{% block linkcss %}
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
        <link rel="stylesheet" href=" {% static 'css/uiconstyle.css' %} ">
        <link rel="stylesheet" href=" {% static 'css/popup_messages.css' %} ">
        <link rel="stylesheet" href=" {% static 'css/buss_profile.css' %} ">
        {% comment %} <link rel="stylesheet" href=" {% static 'css/userprofilecss/userProfileStyle.css' %} "> {% endcomment %}
        
{% endblock %}

{% block title %}
    My Business Profile
{% endblock%}

{% comment %} <a href="{% url 'Registration' %}">Login & register</a> {% endcomment %}


{% block Welcome_Name %}
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
        {% if request.session.buss_log_user %}
        <div class="headername">
            <h1><a href="http://">Welcome, {{buss_udata.buss_fname}} </a></li></h1>
        </div>
        {% endif %}
{% endblock  %}



{% block homeimage %}
{% endblock %}


{% block branches %}
{% endblock %}


{% block popularvehicles %}
<section class="busscontainer">
    <div class="bussprofiles">
        <form method="post">
            {% csrf_token %}
            <div class="main_profile_img_row">
                <div class="main_profile_img">
                    {% if userdata.updProfile_photo %}
                    <img src="/media/{{ userdata.updProfile_photo }}" alt="{% static 'image/profileicons/account.png' %}" />
                    {% else %}
                    <img src="{% static 'image/profileicons/account.png' %}" alt="{% static 'image/profileicons/account.png' %}" />
                    {% endif %}
                    {% comment %} <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div> {% endcomment %}
                </div>
                
                <div class="main_bussprofile_head">
                    <div class="bussprofile_head">
                        <h5>{{userdata.fname}} {{ userdata.lname}}</h5>
                        <h6>Web Developer</h6>
                        <p class="profile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab"
                                    aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#" role="tab"
                                    aria-controls="profile" aria-selected="false">Timeline</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="editprofile" id="editprofile">
                    <a href="editprofile" class=""><img src="{% static 'image/edit_pencil_icon/edit_pencil_icon.svg' %}" alt="{% static 'image/profileicons/account.png' %}" /> edit profile</a>
                </div>

                {% comment %} <div class="col-md-2" style="visibility:hidden;">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                </div> {% endcomment %}
                
            </div>
            <div class="main_bussprofile_info_row">
                <p class="border"></p>
                <div class="buss_user_info">
                    <div class="profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                            <div class="col-md-6">
                                <label>User Id </label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ userdata.id }}</p>
                            </div>
                            <p class="border-style"></p>
                        </div>
                        
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userdata.fname }}</p>
                                </div>
                                <p class="border-style"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Last Name </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userdata.lname }}</p>
                                </div>
                                <p class="border-style"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userdata.emailid }}</p>
                                </div>
                                <p class="border-style"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userdata.phonenum}}</p>
                                </div>
                                <p class="border-style"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>licence_no</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ userdata.licence_no}}</p>
                                </div>
                                <p class="border-style"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{userdata.address}}</p>
                                    
                                </div>
                                <p class="border-style"></p>
                            </div>
                        </div>
                        

                        <div class="tab-pane fade profile" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% comment %} <div class="row">
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Intermidiat</p>
                                </div>
                            </div> {% endcomment %}
                            {% comment %} <div class="row">
                                <div class="col-md-6">
                                    <label>Hourly Rate</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10$/hr</p>
                                </div>
                            </div> {% endcomment %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Total Projects</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>English Level</label>
                                </div>
                                <div class="col-md-6">
                                    <p>excellent</p>
                                </div>
                            </div>
                            {% comment %} <div class="row">
                                <div class="col-md-6">
                                    <label>Availability</label>
                                </div>
                                <div class="col-md-6">
                                    <p>6 months</p>
                                </div>
                            </div> {% endcomment %}
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br />
                                    <p>I am a skilled web developer who designs and builds websites. They use coding languages such as HTML, CSS, and JavaScript to create websites that look great and function smoothly.</p>
                                </div>
                            </div>

                            <hr>
                        </div> 
                    </div>
                </div>
                
            </div>
            
        </form>

        {% comment %} <div class="profile_work_row">
            <div class="profile_work">
                <p>SKILLS</p>
                <p href="">Web Developer</p>
                <p href="">FullStack Web Developer</p>
                <p href="">Python</p>
                <p href="">Django</p>
                <p href="">JavaScript</p>
                <p href="">ReactJS</p>
            </div>
        </div> {% endcomment %}
    </div>
</section>
{% endblock %}


{% block ourservices %}
{% endblock %}


{% block contactus %}
{% endblock %}


{% block footer %}
{% endblock %}


          


{% block scripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src=" {% static 'js/script.js' %} "></script>
    <script src=" {% static 'js/buss_script.js' %} "></script>
    <script src=" {% static 'js/passvalid.js' %} "></script>
    <script src=" {% static 'js/uiconscript.js' %} "></script>
    <script src=" {% static 'js/buss_profile.js' %} "></script>
{% endblock %}
