*{
    margin: 0;
    padding: 0;
}
body {
    /* top: 20vh; */
    margin: 0;
    padding: 0;
    /* height: 90vh; */
    /* background: rgba(226, 0, 0, 0.831); */
}
.container{
    display: block;
    position:relative;
    justify-content: center;
    align-items: center;
    top: 90px;
    left: 100px;
    background: #fcffffc8;
    height: 573px;
    width: 1200px;
    margin: 10px 0px 111px 40px;
    padding:5px 20px;
    border-radius: 15px;
    /* background-color: rgb(0, 255, 255); */
    
    box-shadow: 5px 6px 6px rgba(186, 186, 186, 0.9),
            0px 0px 6px rgba(191, 191, 191, 0.9),
            0px 0px 6px rgba(190, 190, 190, 0.9);
}
.container:hover{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3),
            0px 0px 8px rgba(0, 0, 0, 0.3),
            0px 0px 8px rgba(0, 0, 0, 0.3);
    /* border: 1px solid rgb(0, 0, 0); */

}

.container .row{
    /* background: blue; */
    margin: 0;
    padding: 0px 0px;
    height: 550px;
}


.container div div span{
    font-size: 18px;
    /* cursor:unset; */
}
.container div div img{
    display: block;
    position: relative;
    margin: 10px 10px;
    padding: 10px 10px;
    top: 0px;
    left: -15px;
    /* width: 200px; */
    cursor: pointer;
    /* background-color: red; */
}
.container div div .img{
    display: block;
    position: relative;
    margin: 10px 10px;
    padding: 10px 10px;
    top: 72px;
    left: 5px;
    width: 210px;
    /* cursor: pointer; */
    /* background-color:yellow; */
}
.container div div .img .deleteprofile{
    /* background-color:yellow; */
    width: 26px;
    margin: -10px 0px 0px 55px;
    padding: 0;
}
.container div div .img input{
    /* background-color: red; */
    /* color: violet; */
    left: -15px;
    display:grid;
    /* font-size: 10px; */
    position: relative;
    margin: 0px;
    padding: 10px;
    width: 220px;
    /* height: 0px; */
}
.container div div .img input:hover{
    /* background-color: red; */
    background: rgba(251, 255, 255, 0.963);
    /* color: violet; */
    border: none;
    box-shadow: none;
}

.container div .profile-section{
    display:block;
    position:relative;
    top: -314px;
    width: 640px;
    height: 500px;
    left: 250px;
    /* background-color: yellow; */
    /* d-flex justify-content-between align-items-center mb-3 */
}
.container div .profile-section .profile-detail{

    /* background-color: rgba(255, 255, 0, 0.536); */
}

.container div .profile-section .profile-detail .profile-heading{
    margin: 20px 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
    /* background-color: aqua; */

}
.container div .profile-section .profile-detail .profile-input{
    display:flex;
    position: relative;
    /* background-color: tomato; */
    
    /* width: 200px; */
    /* flex-wrap: wrap; */
    

}
.container div .profile-section .profile-detail .profile-input .input{
    display:flex;
    
    /* width: 200px; */
    flex-wrap: wrap;
}
.container div .profile-section .profile-detail .profile-input .input label{

    /* display:flex; */
    /* position:relative; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 15px;
    margin: 0px 0px 0px 10px;
    top: 10px;
    right: -8px;

    /* background-color: violet; */
}
.container div .profile-section .profile-detail .profile-input .input input{
    /* display:flex;
    position:relative; */
    width: 300px;
    height: 45px;
    border: 1px solid #969696;
    border-radius: 5px;
}

.rounded-circle{

}





.container input{
    margin: 10px;
    padding: 12px;
    font-size: 15px;
    /* background-color: red; */
    /* cursor: pointer; */
}

.container input:hover{
    border: 1px solid rgb(96, 96, 96);
    box-shadow: 2px 3px 8px rgba(53, 53, 53, 0.1),
            0px 0px 8px rgba(71, 71, 71, 0.1),
            0px 0px 8px rgba(66, 66, 66, 0.1);
}

/* .updProfileimginput{
    background-color: red;
    font-size: 10px;
    display:grid;
    position:relative;
    color: violet;
    width: 150px;
    height: 100px;
} */
.container input[type="file"]{
    /* background-color: springgreen; */
    cursor: pointer;

}

.form-control:focus {
    box-shadow: none;
    border-color: #454545
}

.profile-button {
    display: block;
    position: relative;
    left: 240px;
    background: #ffff00;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    color: black;
    background: #f6ff00c9
}

.profile-button:focus {
    background: #bcbcbc;
    box-shadow: none
}

.profile-button:active {
    background: #a3a3a3;
    box-shadow: none
}

.back:hover {
    color: #979797;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #b0b0b0;
    color: #fff;
    cursor: pointer;
    border: solid 1px #cdcdcd
}

.footer{
    margin: 0px;
    top: 20px;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;

    /* background-color: red; */

}

/* @media (max-width:1195px){ */
@media (max-width:428px){
    .container{
        display: block;
        position:relative;
        justify-content: center;
        align-items: center;
        top: 90px;
        left: 0;
        background: #fcffffc8;
        height: 145vh;
        width: 95vw;
        margin: 10px 0px 111px 10px;
        padding:5px 20px;
        border-radius: 7px;
        /* background-color: rgb(0, 255, 255); */
        
        box-shadow: 5px 6px 6px rgba(186, 186, 186, 0.9),
                0px 0px 6px rgba(191, 191, 191, 0.9),
                0px 0px 6px rgba(190, 190, 190, 0.9);
    }
    .container .row {
        /* background: blue; */
        margin: 0;
        padding: 10px 10px;
        height: 50vh;
        width: 83vw;
        top:72vh;
        position: absolute;
        
    }
    .container div .profile-section {
        display: block;
        position: absolute;
        top: -71vh;
        width: 90vw;
        height: 81vh;
        left: -12px;
        /* background-color: yellow; */
    }

    .container div .profile-section .profile-detail .profile-input {
        /* display: flex; */
        /* position: relative; */
        /* background-color: tomato; */
        width: 87vw;
        flex-wrap: wrap;
        /* max-width: 380px; */
        margin: 0px 5px;
    }
    .container div div .img {
        display: block;
        position: relative;
        margin: 10px 10px;
        padding: 10px 10px;
        top: 72px;
        left: -3vw;
        height: 50vh;
        width: 79vw;
        /* cursor: pointer; */
        border: 1px solid rgba(224, 224, 224, 0.871);
        border-radius: 7px;
        /* background-color: rgb(0, 255, 17); */
    }
    .container div div img {
        display: block;
        position: relative;
        margin: 10px 10px;
        padding: 10px 10px;
        top: 0px;
        left: 15px;
        /* width: 200px; */
        /* cursor: pointer; */
        /* background-color: red; */
        border-radius: 20%;
    }
    .container div div .img .deleteprofile {
        /* background-color: yellow; */
        width: 26px;
        margin: -6vh 0px 0px 28vh;
        padding: 0;
    }
    .container div div .img .deleteprofile a{
        /* background-color:violet; */
    }
    .container div div .img .deleteprofile a img{
        /* background-color: red; */
    
    }
    .container div div .img input {
        left: 20px;
    }
    .profile-button {
        display: block;
        position: relative;
        left: 95px;
        top: 54vh;
        background: rgb(255, 234, 0);
        box-shadow: none;
        border: none;
    }


}