{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'dashboard/admin_dark.css' %}">
{% endblock %}

{% block content %}
<div class="row bg-black" style="min-height: 100vh; margin: 0; padding: 0;">
  <div class="col-md-2" style="padding: 0;">
    {% include "dashboard/components/sidebar.html" %}
  </div>
  <div class="col-md-10" style="padding: 0;">
    <div class="main-content">
      {% block dashboard_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %} 