{% extends "dashboard/base.html" %}
{% load static %}

{% block dashboard_content %}
  {% include "dashboard/components/alert.html" %}
  <div class="container-fluid !bg-white !text-black" style="padding: 0; border-radius: 1rem;">
    <h1 class="mb-4">Admin Dashboard Overview</h1>

    <!-- Stat cards and main charts -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}"> {% endcomment %}
    
    {% include "dashboard/components/stat_cards.html" %}
    {% include "dashboard/components/main_charts.html" %}
  </div>
{% endblock %} 