{% extends "master.html" %}

{% block content %}
<div class="login-form-container" id="login-form-container">
    <a href="/"><span id="close-login-form" class="fas fa-times"></span></a>
    <form action="" method="post">
        {% csrf_token %}
        <h3>Reset your password</h3>
        <p>Enter a new password below to change your password.</p>
        {% include "components/shared/messages.html" %}
        <input type="password" id="upass" name="new_upass" title="Password is Required.." placeholder="Enter new password" class="box" autocomplete="off" required>
        <input type="password" id="upass" name="conf_new_upass" title="Password is Required.." placeholder="Confirm new password" class="box" autocomplete="off" required>
        <input type="submit" value="reset password" class="btn">
        <p style="color:black">  <a href="/termsandconpage" >Terms & Cons. </a> | <a href="/termsandconpage" > Privacy policy</a> </p>
    </form>    
</div>
{% endblock %} 