{% extends "master.html" %}

{% block content %}
<div class="container" style="padding:50px 60px 20px 0px" >
    <div class="row" style="padding:20px 0px 0px 0px; left: -35px; position:relative;">
        <div class="col-md-4 col-md-offset-4" >
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h2 class="text-center">Your password has been changed</h2>
                  <p><a href="/">Go to Home page</a> </p>
                  {% if request.session.log_user %}
                    <a href="{% url 'editprofile'%}">my profile</a>
                  {% else %}
                    <a href="{% url 'login'%}">Login</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %} 