{% extends "master.html" %}

{% block content %}
<div class="global_container flex items-center justify-center text-center mt-32 relative">
    <div class="card login_form border border-gray-300 w-[30rem] m-4 p-4">
        <div class="card_body m-2 p-2 grid">
            <p>Password reset email has been sent to your verified email...</p>
            <p class="card_title test_center">Please check the email address <b>{{ associated_user }}</b> for instructions to reset your password.</p>
            <a href="/accounts/reset_password" class="btn btn-primary">Resend email</a>
            {% if request.session.log_user %}
                <a href="{% url 'editprofile'%}">Back</a>
            {% else %}
                <a href="{% url 'login'%}">Back</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 