{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    


    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/uiconstyle.css' %} ">
    <title>reset password</title>
</head>
<body>
    {% comment %} <div class="login-form-container" id="login-form-container">
      <form action="/accounts/login" method="post">
          {% csrf_token %}
          <h3>user login </h3>
          <input type="email" placeholder="email" class="box" name="email" autocomplete="on" required>
          
          <input type="password" id="upass" name="upass" title="Password is Required.." placeholder="password" class="box" autocomplete="off" required>
          <p> forget your password <a href="reset_password">click here</a> </p>
          <input type="submit" value="login" class="btn">
          <p> Don't have an account? <a href="register" id="signup-btn" class="signup-btn">Register or Signup now</a> </p>
          <p style="color:black">  <a href="/termsandconpage" >Terms & Cons. </a> | <a href="/termsandconpage" > Privacy policy</a> </p>
      </form>    
    </div> {% endcomment %}

    
    {% comment %} <div class="form-gap"></div> {% endcomment %}
    <div class="forget_pass_gmail_container">
      <div class="forget_pass_row">
        <div class="">
          <div class="text-center" style="">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p class="text-center">You can reset your password here.</p>
            <p class="text-center">Enter your email address and we will send you instructions to reset your password.</p>

            <div class="">
              <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                {% csrf_token %}
                <div class="">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email" style="text-decoration: none;
                    text-transform: none;" required>
                  </div>
                  <div class="">
                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                  </div>
                  {% comment %} <button class="btn btn-primary">Back to Starlettecars</button> {% endcomment %}
                  {% if request.session.log_user %}
                    <a href="{% url 'editprofile'%}">Back</a>
                  {% else %}
                    <a href="{% url 'login'%}">Back</a>
                  {% endif %}
                  <input type="hidden" class="hide" name="token" id="token" value=""> 
                  <p style="color:black" class="text-center">  <a href="/termsandconpage" >Terms & Cons. </a> | <a href="/termsandconpage" > Privacy policy</a> </p>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>









    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src=" {% static 'js/script.js' %} "></script>
    <script src=" {% static 'js/passvalid.js' %} "></script>
    <script src=" {% static 'js/uiconscript.js' %} "></script>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>


{% comment %} {% block footer %}
{% endblock %} {% endcomment %}