{% extends "master.html" %}

{% block header %}{% endblock header %}

{% block content %}
<div class="min-h-[80vh] flex items-center justify-center bg-gray-50 py-8">
  <div class="w-full max-w-xl bg-white rounded-3xl shadow-2xl p-12 relative">
    <a href="/" class="absolute right-6 top-6 text-gray-400 hover:text-blue-500"><span id="close-login-form" class="fas fa-times text-2xl"></span></a>
    <form id="register-form" role="form" autocomplete="off" class="reg space-y-7" method="post">
      {% csrf_token %}
      <h3 class="text-3xl font-extrabold text-neutral-700 mb-4 normal-case text-center">Reset password</h3>
      <div class="mb-4 text-center">
        <p class="text-xl text-gray-600">No worries! Enter your email address below and we'll send you a link to reset your password. Please check your inbox and follow the instructions.</p>
      </div>
      {% include "components/shared/messages.html" %}
      <input id="email" name="email" placeholder="Email address" class="box w-full text-xl py-5 rounded-lg border-2 border-blue-200 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 transition" type="email" required autocomplete="on">
      <input type="submit" name="recover-submit" class="bg-blue-600 text-white cursor-pointer normal-case font-semibold text-xl w-full py-4 rounded-lg" value="Reset password">
      {% if request.session.log_user %}
        <a href="{% url 'myprofile' %}" class="block mt-3 hover:underline text-center text-xl">Back</a>
      {% else %}
        <a href="{% url 'login' %}" class="block mt-3 hover:underline text-center text-xl">Back</a>
      {% endif %}
      <input type="hidden" class="hide" name="token" id="token" value=""> 
      <p class="text-gray-400 text-sm text-center mt-6">  <a href="/termsandconpage" class="hover:underline">Terms & Cons.</a> | <a href="/termsandconpage" class="hover:underline">Privacy policy</a> </p>
    </form>
  </div>
</div>
{% endblock %} 

{% block footer %}{% endblock %}