{% extends "master.html" %}

{% block content %}
<div class="global_container flex items-center justify-center text-center mt-32 relative">
    <div class="card login_form border border-gray-300 w-[30rem] m-4 p-4">
        <div class="card_body m-2 p-2 grid">
            <h3 class="card_title test_center">We sent an Email to you for Verification</h3>
            <div class="card_text">Please check your Gmail</div>
            <p>We sent a Verification Token to <b>{{ associated_user }}</b>....</p>
            <a href="/accounts/reset_password" class="btn btn-primary mx-3 my-2">Resend email</a>
            <a href="{% url 'login' %}" class=" btn btn-primary mx-1 px-3 ">Back to login</a>
        </div>
    </div>
</div>
{% endblock %} 