<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Token Sended</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
</head>
<body>
    <!-- {% comment %} <h1>Token send page</h1> {% endcomment %} -->
    <!-- {% comment %} <h1>Token send page</h1> {% endcomment %} -->
    <div class="card_body">
            <div id="messages" class="messages" style="  color: #ff4141;
            display: flex;
            position: relative;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin: 0px 0 5px 0px;
            padding: 0 5px;
            background: #00ff111c;
            color:#2c753a;
            /* {% comment %} background: #87fffd88; {% endcomment %} */
            border:1px solid #70ac6e5e;
            border-radius:5px;

            ">
            {% if messages %}
            <!-- {% comment %} <h1>{{tags}}</h1> {% endcomment %}
            {% comment %} <h1>{{messages}}</h1> {% endcomment %} -->
            {% for msg in messages %}
                <div class="alert alert-success {{ msg.tags }} alert-dismissible fade show margin: 1rem 0;" data-bs-toggle="collapse" data-bs-target="collapse" aria-expanded="false" aria-controls="collapse" role="alert" style="font-size:14px; font-weight:400">
                <strong>{{ msg }}</strong>
                
                </div>
                <button type="button" class="close btn-close" style="background: none;font-size:30px; font-weight:600; margin: .5rem 0; padding: .5rem 0;">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        {% endif %}
    </div>
    <script>
        // {% comment %} let msg_closebtn = document.getElementsByClassName("close"); {% endcomment %}
        let msg_closebtn = document.querySelector(".close");

        msg_closebtn.addEventListener('click', () =>{
            messages = document.querySelector(".messages");
            messages.style.cssText = 'display:none;';
            
        });
    </script>

    <!-- <div class="message"></div> -->
    <div class="global_container"  style="
                                            display: flex;
                                            /* top: 30vh; */
                                            /* position: absolute; */
                                            margin:.7rem .7rem;
                                            padding:2rem 2rem;
                                            align-content: center;
                                            align-items: center;
                                            height: 30rem;
                                            justify-content: center;
                                            ">
        <div class="card login_form">
            <div class="card_body" style=" margin:20px 20px; padding: 20px 20px;">
                <h3 class="card_title test_center">we send an Email to you for Verification</h3>
                <div class="card_text">
                    Please check your Gmail
                </div>
                <p style="">We sent a Verification Token to <b>{{ associated_user }}</b>....</p>
                <form method="post" action="{% url 'Resend_Email_Verification_Token' %}">
                    {% csrf_token %}
                    <!-- <label for="email">Email:</label> -->
                    <input type="email" name="email"  value="{{ associated_user }}" hidden required>
                    <button type="submit" class="btn btn-primary mx-3 my-2">Resend Email</button>
                    <a href="{% url 'login' %}" class=" btn btn-primary mx-1 px-3 ">Back to login</a>
                    <!-- <a href="/accounts/reset_password" class="btn btn-primary mx-3 my-2">Resend email</a> -->
                    
                </form>
                
            </div>
        </div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>