{% extends "master.html" %}
{% block content %}
<div class="global_container" style="align-content: center; align-items: center; display: flex; top: 25vh; position: absolute; left: 72vh; margin:10px 10px; padding:20px 20px;">
    <div class="card login_form">
        <div class="card_body" style=" margin:20px 20px; padding: 20px 20px;">
            <h3 class="card_title test_center mt-2 px-3">Verification Error!!</h3>
            <div class="card_text mt-2 px-5">
                Please Register Again
            </div>
            <a href="{% url 'register_attempt' %}" class="btn btn-primary mt-2 mx-5 px-5">Register</a>
        </div>
    </div>
</div>
{% endblock %} 

{% block footer %}{% endblock %}