<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>My Profile</title>
        <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
        <link rel="stylesheet" href=" {% static 'css/uiconstyle.css' %} ">
        <link rel="stylesheet" href=" {% static 'css/userprofilecss/userProfileStyle.css' %} ">
        {% comment %} <link rel="stylesheet" href=" {% static 'css/passvalid.css' %} "> {% endcomment %}
        
        <!-- Bootstrap CSS -->


        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> {% endcomment %}
        <!-- font awesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>

    <body>
        <header class="header">
            <div id="menu-btn" class="fas fa-bars"></div>
            <a href="/" class="logo"> <span>Starlette</span>cars </a>
            
            <div >
                {% comment %} {% if user.is_authenticated %} {% endcomment %}
                {% if request.session.log_user %}
                <div class="headername">
                    <h1><a href="{% url 'myprofile' %}">Welcome, {{userdata.fname}} </a></li></h1>
                </div>
                {% endif %}
            </div>
            <nav class="navbar">
                <a href="/rental_business">Busines Acc</a>
                
                <a href="/">home</a>
                <a href="/vehicles">vehicles</a>
                <a href="/services">services</a>
                <!-- <a href=" {% static '#featured' %} ">featured</a> -->
                <a href=" /feedback ">feedback</a>
                <a href="/contact">contact</a><br/>
            
                
            </nav>
            <div class="action">
                <div class="profile" onclick="menuToggle();">
                    {% if userdata.updProfile_photo %}
                    <img src="/media/{{ userdata.updProfile_photo }}" alt=""/>
                    {% else %}
                    <img src="{% static 'image/profileicons/profile-user.png' %}" alt="{% static 'image/profileicons/profile-user.png' %}"/>
                    {% endif %}
                                 
                </div>
                
                <div class="umenu">
                    <h3>My <span>Profile</span></h3>
                    <ul>
                        {% if request.session.log_user %}
                        <li><img src="{% static 'image/profileicons/account.png' %}"><a href="{% url 'myprofile' %}">My
                                Profile</a></li>
                        <li id="login-btn"><img src="{% static 'image/profileicons/log-out.png' %}"><a
                                href="/logout">Logout</a></li>
                        {% else %}
                        <li id="login-btn" class="login-btn"><img
                                src="{% static 'image/profileicons/edit.png' %}"><a href="accounts/login">Login or Reg</a></li>
                        {% endif %}
                        <li><img src="{% static 'image/profileicons/inbox.png' %}"><a href="/inbox">Inbox</a></li>
                        {% if request.session.log_user %}
                        <li><img src="{% static 'image/profileicons/settings.png' %}"><a href="{% url 'booking_history' %}">Booking
                                History</a></li>
                        {% endif %}
                        <li><img src="{% static 'image/profileicons/help.png' %}"><a href="/helps">Help</a></li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="containers emp-profilesx">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div>
                        <div class="main-profile-img">
                            {% if userdata.updProfile_photo %}
                            <img src="/media/{{ userdata.updProfile_photo }}" alt="{% static 'image/profileicons/account.png' %}" />
                            {% else %}
                            <img src="{% static 'image/profileicons/account.png' %}" alt="{% static 'image/profileicons/account.png' %}" />
                            {% endif %}
                            {% comment %} <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file" />
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="">
                        <div class="profile-head">
                            <h5>
                                {{userdata.fname}} {{ userdata.lname}}
                            </h5>
                    
                            <h6>
                                Web Developer
                            </h6>

                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>

                            <ul class="nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="" role="tab"
                                        aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="" role="tab"
                                        aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="editprofile" id="editprofile">
                        <a href="{% url 'editprofile' %}" class=""><img src="{% static 'image/edit_pencil_icon/edit_pencil_icon.svg' %}" alt="{% static 'image/profileicons/account.png' %}" /> edit profile</a>
                    </div>

                     <!-- {% comment %} <div class="col-md-2" style="visibility:hidden;">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div> {% endcomment %} -->
                    
                </div>
                <div class="row">
                    <div>
                        <div class="profile-work">
                            <p>SKILLS</p>
                            <p href="">Web Developer</p>
                            <p href="">FullStack Web Developer</p>
                            <p href="">Python</p>
                            <p href="">Django</p>
                            <p href="">JavaScript</p>
                            <p href="">ReactJS</p>
                            {% comment %} <a href="">PHP</a><br /> {% endcomment %}
                            {% comment %} <a href="">Java</a><br /> {% endcomment %}
                        </div>
                    </div>
                    <p class="border"></p>
                    <div>
                        <div class="profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                   <div class="col-md-6">
                                       <label>User Id </label>
                                   </div>
                                   <div class="col-md-6">
                                       <p>{{ userdata.id }}</p>
                                   </div>
                                   <p class="border-style"></p>
                               </div>
                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userdata.fname }}</p>
                                    </div>
                                    <p class="border-style"></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Last Name </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userdata.lname }}</p>
                                    </div>
                                    <p class="border-style"></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userdata.emailid }}</p>
                                    </div>
                                    <p class="border-style"></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userdata.phonenum}}</p>
                                    </div>
                                    <p class="border-style"></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>licence_no</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ userdata.licence_no}}</p>
                                    </div>
                                    <p class="border-style"></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{userdata.address}}</p>
                                        
                                    </div>
                                    <p class="border-style"></p>
                                </div>
                            </div>
                            

                            <div class="tab-pane fade profile" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                {% comment %} <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Intermidiat</p>
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div> {% endcomment %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>excellent</p>
                                    </div>
                                </div>
                                {% comment %} <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div> {% endcomment %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br />
                                        <p>I am a skilled web developer who designs and builds websites. They use coding languages such as HTML, CSS, and JavaScript to create websites that look great and function smoothly.</p>
                                    </div>
                                </div>

                                <hr>
                            </div> 
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
        <script> 
            // {% comment %} document.querySelector('#home-tab').onclick = () =>{
            //     document.querySelector('#home').classList.toggle('active');
            // } {% endcomment %}
            document.querySelector('#profile').style.display = 'none';

            document.querySelector('#profile-tab').onclick = () =>{
                document.querySelector('#profile-tab').classList.toggle('active');
                document.querySelector('#profile').classList.toggle('active');
                document.querySelector('#home-tab').classList.remove('active');
                document.querySelector('#home').classList.remove('active');

                document.querySelector('#home').style.display = 'none';
                document.querySelector('#profile').style.display = '';
                
            }
              
            document.querySelector('#home-tab').onclick = () =>{
                document.querySelector('#home-tab').classList.toggle('active');
                document.querySelector('#profile').classList.remove('active');
                document.querySelector('#profile-tab').classList.remove('active');
                document.querySelector('#home').classList.toggle('active');          

                document.querySelector('#profile').style.display = 'none';
                document.querySelector('#home').style.display = '';
            }
            


        </script>

        <script src=" {% static 'js/script.js' %} "></script>
        <script src=" {% static 'js/passvalid.js' %} "></script>
        <script src=" {% static 'js/uiconscript.js' %} "></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>

</html>