{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> {% endcomment %}
    {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
    

    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/uiconstyle.css' %} ">
    <style>
        .panel-body {
            padding: 15px;
            background: #f1f1f126;
          }

        .form-gap {
            padding-top: 70px;
            margin:0;
            
            {% comment %} background-color:blue; {% endcomment %}
        }
        .form-control {
            padding: 20px 12px;
        }
        .col-md-4 {
            width: auto;

            margin:0;
            left:10vw;
            {% comment %} padding:0; {% endcomment %}
        }
        @media (min-width: 992px){
            .col-md-4 {
                width: auto;
                
            }
        }
    </style>
    <title>reset password</title>
</head>
<body>
    

    {% comment %} / 
    
    {% endcomment %}


    <header class="header">
        <div id="menu-btn" class="fas fa-bars"></div>
        <a href="/" class="logo"> <span>Starlette</span>cars </a>
        
        <div >
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            {% if request.session.log_user %}
            <div class="headername">
                <h1><a href="/myprofile">Welcome, {{udata.fname}} </a></li></h1>
            </div>
            {% endif %}
        </div>
        <nav class="navbar">
            <a href="/">home</a>
            <a href="/vehicles">vehicles</a>
            <a href="/services">services</a>
            <!-- <a href=" {% static '#featured' %} ">featured</a> -->
            <a href=" /feedback ">feedback</a>
            <a href="/contact">contact</a><br/>
        
            
        </nav>
        <div class="action">
            <div class="profile" onclick="menuToggle();">
                {% if udata.updProfile_photo %}
                <img src="/media/{{ udata.updProfile_photo }}" alt=""/>
                {% else %}
                <img src="{% static 'image/profileicons/profile-user.png' %}" alt="{% static 'image/profileicons/profile-user.png' %}"/>
                {% endif %}
                             
            </div>
            <div class="umenu">
                <h3>My <span>Profile</span></h3>
                <ul>
                    {% if request.session.log_user %}
                    <li><img src="{% static 'image/profileicons/account.png' %}"><a href="/myprofile">My
                            Profile</a></li>
                    <li id="login-btn"><img src="{% static 'image/profileicons/log-out.png' %}"><a
                            href="/logout">Logout</a></li>
                    {% else %}
                    <li id="login-btn" class="login-btn"><img
                            src="{% static 'image/profileicons/edit.png' %}"><a href="accounts/login">Login or Reg</a></li>
                    {% endif %}
                    <li><img src="{% static 'image/profileicons/inbox.png' %}"><a href="/inbox">Inbox</a></li>
                    {% if request.session.log_user %}
                    <li><img src="{% static 'image/profileicons/settings.png' %}"><a href="{% url 'booking_history' %}">Booking
                            History</a></li>
                    {% endif %}
                    <li><img src="{% static 'image/profileicons/help.png' %}"><a href="/helps">Help</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="form-gap"></div>
    <div class="container container-main-change-password">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-body panel-bodyx">
                    <div class="text-center">
                      <h3><i class="fa fa-lock fa-4x"></i></h3>
                      <h2 class="text-center">Forgot Password?</h2>
                      <p>You can reset your password here.</p>
                      <div class="panel-body">
        
                        <form id="change-pass-form" role="form" autocomplete="off" class="form" method="post">
                        {% csrf_token %}
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                              <input id="old_password" name="old_password" placeholder="Enter old password" class="form-control"  type="password" style="text-decoration: none;
                              text-transform: none;" required>
                            </div>
                            </br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                <input id="new_password" name="new_password" placeholder="Enter new password" class="form-control"  type="password" style="text-decoration: none;
                                text-transform: none;" required>
                            </div>
                            </br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                <input id="conf_password" name="conf_password" placeholder="Enter Confirm password" class="form-control"  type="password" style="text-decoration: none;
                                text-transform: none;" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                          </div>
                          
                          <input type="hidden" class="hide" name="token" id="token" value=""> 
                        </form>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>







    


    <script src=" {% static 'js/script.js' %} "></script>
    <script src=" {% static 'js/passvalid.js' %} "></script>
    <script src=" {% static 'js/uiconscript.js' %} "></script>
    
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>


{% comment %} {% block footer %}
{% endblock %} {% endcomment %}